gpx.rnc

default namespace = "http://www.topografix.com/GPX/1/1"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace rng = "http://relaxng.org/ns/structure/1.0"
namespace xsd = "http://www.w3.org/2001/XMLSchema"

a:documentation [
  "\x{a}" ~
  " \x{a}" ~
  "  GPX schema version 1.1 - For more information on GPX and this schema, visit http://www.topografix.com/gpx.asp\x{a}" ~
  "\x{a}" ~
  "  GPX uses the following conventions: all coordinates are relative to the WGS84 datum.  All measurements are in metric units.\x{a}" ~
  " \x{a}"
]
start = gpx
gpx =
  element gpx {
    gpxType
    >> a:documentation [
         "\x{a}" ~
         "      \x{a}" ~
         "		GPX is the root element in the XML file.\x{a}" ~
         "	  \x{a}" ~
         "	"
       ]
  }

## 
##       
##		GPX documents contain a metadata header, followed by waypoints, routes, and tracks.  You can add your own elements
##		to the extensions section of the GPX document.
##	  
##	
gpxType =
  element metadata {
    metadataType
    >> a:documentation [
         "\x{a}" ~
         "	   \x{a}" ~
         "		Metadata about the file.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }?,
  element wpt {
    wptType
    >> a:documentation [
         "\x{a}" ~
         "	   \x{a}" ~
         "		A list of waypoints.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }*,
  element rte {
    rteType
    >> a:documentation [
         "\x{a}" ~
         "	   \x{a}" ~
         "		A list of routes.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }*,
  element trk {
    trkType
    >> a:documentation [
         "\x{a}" ~
         "	   \x{a}" ~
         "		A list of tracks.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }*,
  element extensions {
    extensionsType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		You can add extend GPX by adding your own elements from another schema here.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }?,
  attribute version {
    
    ## 
    ##       
    ##		You must include the version number in your GPX document.
    ##	  
    ##	 
    xsd:string
  },
  attribute creator {
    
    ## 
    ##       
    ##		You must include the name or URL of the software that created your GPX document.  This allows others to
    ##		inform the creator of a GPX instance document that fails to validate.
    ##	  
    ##	 
    xsd:string
  }

## 
##       
##		Information about the GPX file, author, and copyright restrictions goes in the metadata section.  Providing rich,
##		meaningful information about your GPX files allows others to search for and use your GPS data.
##	  
##	
metadataType =
  # elements must appear in this order
  element name {
    
    ## 
    ##        
    ##		The name of the GPX file.
    ##	   
    ##	  
    xsd:string
  }?,
  element desc {
    
    ## 
    ##        
    ##		A description of the contents of the GPX file.
    ##	   
    ##	  
    xsd:string
  }?,
  element author {
    personType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		The person or organization who created the GPX file.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }?,
  element copyright {
    copyrightType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		Copyright and license information governing use of the file.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }?,
  element link {
    linkType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		URLs associated with the location described in the file.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }*,
  element time {
    
    ## 
    ##        
    ##		The creation date of the file.
    ##	   
    ##	  
    xsd:dateTime
  }?,
  element keywords {
    
    ## 
    ##        
    ##		Keywords associated with the file.  Search engines or databases can use this information to classify the data.
    ##	   
    ##	  
    xsd:string
  }?,
  element bounds {
    boundsType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		Minimum and maximum coordinates which describe the extent of the coordinates in the file.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }?,
  element extensions {
    extensionsType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		You can add extend GPX by adding your own elements from another schema here.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }?

## 
##       
##		wpt represents a waypoint, point of interest, or named feature on a map.
##	  
##	
wptType =
  # elements must appear in this order
  
  # Position info
  element ele {
    
    ## 
    ##		  
    ##			Elevation (in meters) of the point.
    ##		  
    ##		
    xsd:decimal
  }?,
  element time {
    
    ## 
    ##		  
    ##			Creation/modification timestamp for element. Date and time in are in Univeral Coordinated Time (UTC), not local time! Conforms to ISO 8601 specification for date/time representation. Fractional seconds are allowed for millisecond timing in tracklogs. 
    ##		  
    ##		
    xsd:dateTime
  }?,
  element magvar {
    degreesType
    >> a:documentation [
         "\x{a}" ~
         "		  \x{a}" ~
         "			Magnetic variation (in degrees) at the point\x{a}" ~
         "		  \x{a}" ~
         "		"
       ]
  }?,
  element geoidheight {
    
    ## 
    ##		  
    ##			Height (in meters) of geoid (mean sea level) above WGS84 earth ellipsoid.  As defined in NMEA GGA message.
    ##		  
    ##		
    xsd:decimal
  }?,
  # Description info
  element name {
    
    ## 
    ##		  
    ##			The GPS name of the waypoint. This field will be transferred to and from the GPS. GPX does not place restrictions on the length of this field or the characters contained in it. It is up to the receiving application to validate the field before sending it to the GPS.
    ##		  
    ##		
    xsd:string
  }?,
  element cmt {
    
    ## 
    ##		  
    ##			GPS waypoint comment. Sent to GPS as comment. 
    ##		  
    ##		
    xsd:string
  }?,
  element desc {
    
    ## 
    ##		  
    ##			A text description of the element. Holds additional information about the element intended for the user, not the GPS.
    ##		  
    ##		
    xsd:string
  }?,
  element src {
    
    ## 
    ##		  
    ##			Source of data. Included to give user some idea of reliability and accuracy of data.  "Garmin eTrex", "USGS quad Boston North", e.g.
    ##		  
    ##		
    xsd:string
  }?,
  element link {
    linkType
    >> a:documentation [
         "\x{a}" ~
         "		  \x{a}" ~
         "			Link to additional information about the waypoint.\x{a}" ~
         "		  \x{a}" ~
         "		"
       ]
  }*,
  element sym {
    
    ## 
    ##		  
    ##			Text of GPS symbol name. For interchange with other programs, use the exact spelling of the symbol as displayed on the GPS.  If the GPS abbreviates words, spell them out.
    ##		  
    ##		
    xsd:string
  }?,
  element type {
    
    ## 
    ##		  
    ##			Type (classification) of the waypoint.
    ##		  
    ##		
    xsd:string
  }?,
  # Accuracy info
  element fix {
    fixType
    >> a:documentation [
         "\x{a}" ~
         "		  \x{a}" ~
         "			Type of GPX fix.\x{a}" ~
         "		  \x{a}" ~
         "		"
       ]
  }?,
  element sat {
    
    ## 
    ##		  
    ##			Number of satellites used to calculate the GPX fix.
    ##		  
    ##		
    xsd:nonNegativeInteger
  }?,
  element hdop {
    
    ## 
    ##		  
    ##			Horizontal dilution of precision.
    ##		  
    ##		
    xsd:decimal
  }?,
  element vdop {
    
    ## 
    ##		  
    ##			Vertical dilution of precision.
    ##		  
    ##		
    xsd:decimal
  }?,
  element pdop {
    
    ## 
    ##		  
    ##			Position dilution of precision.
    ##		  
    ##		
    xsd:decimal
  }?,
  element ageofdgpsdata {
    
    ## 
    ##		  
    ##			Number of seconds since last DGPS update.
    ##		  
    ##		
    xsd:decimal
  }?,
  element dgpsid {
    dgpsStationType
    >> a:documentation [
         "\x{a}" ~
         "		  \x{a}" ~
         "			ID of DGPS station used in differential correction.\x{a}" ~
         "		  \x{a}" ~
         "		"
       ]
  }?,
  element extensions {
    extensionsType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		You can add extend GPX by adding your own elements from another schema here.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }?,
  attribute lat {
    latitudeType
    >> a:documentation [
         "\x{a}" ~
         "	  \x{a}" ~
         "		The latitude of the point.  Decimal degrees, WGS84 datum.\x{a}" ~
         "	  \x{a}" ~
         "	 "
       ]
  },
  attribute lon {
    longitudeType
    >> a:documentation [
         "\x{a}" ~
         "	  \x{a}" ~
         "		The latitude of the point.  Decimal degrees, WGS84 datum.\x{a}" ~
         "	  \x{a}" ~
         "	 "
       ]
  }

## 
##       
##		rte represents route - an ordered list of waypoints representing a series of turn points leading to a destination.
##	  
##	
rteType =
  element name {
    
    ## 
    ##		  
    ##			GPS name of route.
    ##		  
    ##		
    xsd:string
  }?,
  element cmt {
    
    ## 
    ##		  
    ##			GPS comment for route.
    ##		  
    ##		
    xsd:string
  }?,
  element desc {
    
    ## 
    ##		  
    ##			Text description of route for user.  Not sent to GPS.
    ##		  
    ##		
    xsd:string
  }?,
  element src {
    
    ## 
    ##		  
    ##			Source of data. Included to give user some idea of reliability and accuracy of data.
    ##		  
    ##		
    xsd:string
  }?,
  element link {
    linkType
    >> a:documentation [
         "\x{a}" ~
         "		  \x{a}" ~
         "			Links to external information about the route.\x{a}" ~
         "		  \x{a}" ~
         "		"
       ]
  }*,
  element number {
    
    ## 
    ##		  
    ##			GPS route number.
    ##		  
    ##		
    xsd:nonNegativeInteger
  }?,
  element type {
    
    ## 
    ##		  
    ##			Type (classification) of route.
    ##		  
    ##		
    xsd:string
  }?,
  element extensions {
    extensionsType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		You can add extend GPX by adding your own elements from another schema here.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }?,
  element rtept {
    wptType
    >> a:documentation [
         "\x{a}" ~
         "	   \x{a}" ~
         "		A list of route points.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }*

## 
##       
##		trk represents a track - an ordered list of points describing a path.
##	  
##	
trkType =
  element name {
    
    ## 
    ##		  
    ##			GPS name of track.
    ##		  
    ##		
    xsd:string
  }?,
  element cmt {
    
    ## 
    ##		  
    ##			GPS comment for track.
    ##		  
    ##		
    xsd:string
  }?,
  element desc {
    
    ## 
    ##		  
    ##			User description of track.
    ##		  
    ##		
    xsd:string
  }?,
  element src {
    
    ## 
    ##		  
    ##			Source of data. Included to give user some idea of reliability and accuracy of data.
    ##		  
    ##		
    xsd:string
  }?,
  element link {
    linkType
    >> a:documentation [
         "\x{a}" ~
         "		  \x{a}" ~
         "			Links to external information about track.\x{a}" ~
         "		  \x{a}" ~
         "		"
       ]
  }*,
  element number {
    
    ## 
    ##		  
    ##			GPS track number.
    ##		  
    ##		
    xsd:nonNegativeInteger
  }?,
  element type {
    
    ## 
    ##		  
    ##			Type (classification) of track.
    ##		  
    ##		
    xsd:string
  }?,
  element extensions {
    extensionsType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		You can add extend GPX by adding your own elements from another schema here.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }?,
  element trkseg {
    trksegType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		A Track Segment holds a list of Track Points which are logically connected in order. To represent a single GPS track where GPS reception was lost, or the GPS receiver was turned off, start a new Track Segment for each continuous span of track data.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }*

## 
##     
##	 You can add extend GPX by adding your own elements from another schema here.
##     
##    
extensionsType = element * { text }*

## 
##     
##  	 A Track Segment holds a list of Track Points which are logically connected in order. To represent a single GPS track where GPS reception was lost, or the GPS receiver was turned off, start a new Track Segment for each continuous span of track data.
##     
##    
trksegType =
  # elements must appear in this order
  element trkpt {
    wptType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		A Track Point holds the coordinates, elevation, timestamp, and metadata for a single point in a track.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }*,
  element extensions {
    extensionsType
    >> a:documentation [
         "\x{a}" ~
         "       \x{a}" ~
         "		You can add extend GPX by adding your own elements from another schema here.\x{a}" ~
         "	   \x{a}" ~
         "	  "
       ]
  }?

## 
##     
##	 Information about the copyright holder and any license governing use of this file.  By linking to an appropriate license,
##	 you may place your data into the public domain or grant additional usage rights.
##     
##    
copyrightType =
  # elements must appear in this order
  element year {
    
    ## 
    ##	  
    ##		Year of copyright.
    ##	  
    ##	 
    xsd:gYear
  }?,
  element license {
    
    ## 
    ##	  
    ##		Link to external file containing license text.
    ##	  
    ##	 
    xsd:anyURI
  }?,
  attribute author {
    
    ## 
    ##	  
    ##		Copyright holder (TopoSoft, Inc.)
    ##	  
    ##	 
    xsd:string
  }

## 
##     
##	 A link to an external resource (Web page, digital photo, video clip, etc) with additional information.
##     
##    
linkType =
  # elements must appear in this order
  element text {
    
    ## 
    ##	  
    ##		Text of hyperlink.
    ##	  
    ##	 
    xsd:string
  }?,
  element type {
    
    ## 
    ##	  
    ##		Mime type of content (image/jpeg)
    ##	  
    ##	 
    xsd:string
  }?,
  attribute href {
    
    ## 
    ##	  
    ##		URL of hyperlink.
    ##	  
    ##	 
    xsd:anyURI
  }

## 
##     
##	 An email address.  Broken into two parts (id and domain) to help prevent email harvesting.
##     
##    
emailType =
  attribute id {
    
    ## 
    ##	  
    ##		id half of email address (billgates2004)
    ##	  
    ##	 
    xsd:string
  },
  attribute domain {
    
    ## 
    ##	  
    ##		domain half of email address (hotmail.com)
    ##	  
    ##	 
    xsd:string
  }

## 
##     
##	 A person or organization.
##     
##    
personType =
  # elements must appear in this order
  element name {
    
    ## 
    ##	  
    ##		Name of person or organization.
    ##	  
    ##	 
    xsd:string
  }?,
  element email {
    emailType
    >> a:documentation [
         "\x{a}" ~
         "	  \x{a}" ~
         "		Email address.\x{a}" ~
         "	  \x{a}" ~
         "	 "
       ]
  }?,
  element link {
    linkType
    >> a:documentation [
         "\x{a}" ~
         "	  \x{a}" ~
         "		Link to Web site or other external information about person.\x{a}" ~
         "	  \x{a}" ~
         "	 "
       ]
  }?

## 
##     
##	 A geographic point with optional elevation and time.  Available for use by other schemas.
##     
##    
ptType =
  # elements must appear in this order
  element ele {
    
    ## 
    ##	  
    ##		The elevation (in meters) of the point.
    ##	  
    ##	 
    xsd:decimal
  }?,
  element time {
    
    ## 
    ##	  
    ##		The time that the point was recorded.
    ##	  
    ##	 
    xsd:dateTime
  }?,
  attribute lat {
    latitudeType
    >> a:documentation [
         "\x{a}" ~
         "	  \x{a}" ~
         "		The latitude of the point.  Decimal degrees, WGS84 datum.\x{a}" ~
         "	  \x{a}" ~
         "	 "
       ]
  },
  attribute lon {
    longitudeType
    >> a:documentation [
         "\x{a}" ~
         "	  \x{a}" ~
         "		The latitude of the point.  Decimal degrees, WGS84 datum.\x{a}" ~
         "	  \x{a}" ~
         "	 "
       ]
  }

## 
##     
##	 An ordered sequence of points.  (for polygons or polylines, e.g.)
##     
##    
ptsegType =
  # elements must appear in this order
  element pt {
    ptType
    >> a:documentation [
         "\x{a}" ~
         "		\x{a}" ~
         "		 Ordered list of geographic points.\x{a}" ~
         "		\x{a}" ~
         "	   "
       ]
  }*

## 
##     
##	 Two lat/lon pairs defining the extent of an element.
##     
##    
boundsType =
  attribute minlat {
    latitudeType
    >> a:documentation [
         "\x{a}" ~
         "	  \x{a}" ~
         "		The minimum latitude.\x{a}" ~
         "	  \x{a}" ~
         "	 "
       ]
  },
  attribute minlon {
    longitudeType
    >> a:documentation [
         "\x{a}" ~
         "	  \x{a}" ~
         "		The minimum longitude.\x{a}" ~
         "	  \x{a}" ~
         "	 "
       ]
  },
  attribute maxlat {
    latitudeType
    >> a:documentation [
         "\x{a}" ~
         "	  \x{a}" ~
         "		The maximum latitude.\x{a}" ~
         "	  \x{a}" ~
         "	 "
       ]
  },
  attribute maxlon {
    longitudeType
    >> a:documentation [
         "\x{a}" ~
         "	  \x{a}" ~
         "		The maximum longitude.\x{a}" ~
         "	  \x{a}" ~
         "	 "
       ]
  }

## 
##	  
##		The latitude of the point.  Decimal degrees, WGS84 datum.
##	  
##	 
latitudeType =
  xsd:decimal { minInclusive = "-90.0" maxInclusive = "90.0" }

## 
##	  
##		The longitude of the point.  Decimal degrees, WGS84 datum.
##	  
##	 
longitudeType =
  xsd:decimal { minInclusive = "-180.0" maxExclusive = "180.0" }

## 
##	  
##		Used for bearing, heading, course.  Units are decimal degrees, true (not magnetic).
##	  
##	 
degreesType =
  xsd:decimal { minInclusive = "0.0" maxExclusive = "360.0" }

## 
##	  
##		Type of GPS fix.  none means GPS had no fix.  To signify "the fix info is unknown, leave out fixType entirely. pps = military signal used
##	  
##	 
fixType = "none" | "2d" | "3d" | "dgps" | "pps"

## 
##     
##	 Represents a differential GPS station.
##     
##    
dgpsStationType =
  xsd:integer { minInclusive = "0" maxInclusive = "1023" }
